footer {
	@extend %padding-large;
	padding-top: 0;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	small { text-transform: uppercase; }
}

.social-links {
	margin: 1em 0;
	cursor: default;
	li {
		display: inline-block;
		+ li {
			margin-left: 10px;
		}
		a {
			@extend %transition;
			cursor: pointer;
			border-bottom: none;
			font-size: 28px;
			color: #999;
			&:hover, &:focus {
				color: $link-color;
			}
		}
	}
}
